#page-contexto {
  // Escrever aqui dentro
  .texto-div {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat";
    font-size: 18px;
    letter-spacing: 1px;
  }

  .card.centeredContent {
    height: fit-content;
    // width: 60%;
    color: rgba(63, 63, 63, 1);
    font-family: "Montserrat";
    font-style: normal;
    font-size: 18px;
    border: 2px solid rgba(63, 63, 63, 1);
    border-radius: 0px;
    background: $branca-do-fundo;
    padding: 20px 40px;
    gap: 25px;

  }

  .card.centeredContent::after {
    content: "";
    width: 4px;
    height: 100px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: -4px;
    left: -4px;
  }
}
