// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
@media (max-width: 360px) {
  #page-recursos {
    .titulo-recursos {
      padding-left: 1rem;
      font-size: 34px;
    }
    .title-line {
      width: 165%;
      border: 2px solid $cinza-escura;
    }
    #subtitulo-recursos{
      display: none;
    }
    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 14px;
    }
  }
}
// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (min-width: 361px) and (max-width: 575px) {
  #page-recursos {
    .titulo-recursos {
      padding-left: 1rem;
      font-size: 34px;
    }
    .title-line {
      width: 165%;
      border: 2px solid $cinza-escura;
    }
    #subtitulo-recursos{
      display: none;
    }

    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 14px;
    }
  }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) and (max-width: 767px) {
  #page-recursos {
    .titulo-recursos {
      font-size: 34px;
    }
    .title-line {
      width: 140%;
      border: 2px solid $cinza-escura;
    }
    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 24px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #page-recursos {
    .title-line {
      width: 148%;
    }
  }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) and (max-width: 1199px) {
  #page-recursos {
    .title-line {
      width: 135%;
    }
  }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) and (max-width: 1399px) {
  #page-recursos {
    .title-line {
      width: 130%;
    }
  }
}
// @media (min-width: 1400px){
//     #page-recursos {
//         .title-line {
//             width: 125%;
//           }
//         }
// }
