#single-aprenda {
    // Escreva aqui para manter o escopo local
    .embed-responsive-custom {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .embed-responsive-custom iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}