#page-aprenda {
  // Escrever aqui dentro
  .main-aprenda {
    margin-bottom: 410px;
  }

  .card-header.aprenda {
    width: 100%;
    left: 187px;
    top: 425px;
    color: $branca;
    background-color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 0;
  }

  .texto-cards {
    width: 100%;
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  #card-aprenda:hover .card-header,
  .card-header:hover {
    background-color: $azul;
    cursor: pointer;
}

  #card-aprenda:hover {
    border: 2px solid $azul;
}

  #card-aprenda {
    height: 100%;
    width: 100%;
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 36px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    background: $branca-do-fundo;
  }

  #card-aprenda::after {
    content: "";
    width: 4px;
    height: 25%;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 0px;
    left: -4px;
  }
} 