// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
// Resolução específica para casos específicos
@media (max-width: 360px) {
  #page-aprenda {
    #titulo-div {
      padding-bottom: 24px;
    }
  }
}
// -xs- ou none - Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap (mobile first)
@media (max-width: 575px) {
  #page-aprenda {

    #lupa {
      width: 25%;
    }
    .texto-cards {
      height: 100%;
    }
    #session-UpLeft {
      margin-bottom: 10px;
    }
    #session-DownLeft {
      gap: 10px;
    }
  }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) and (max-width: 767px) {
  #page-aprenda {
    #lupa {
      width: 25%;
    }
    .texto-cards {
      height: 100%;
    }
    #session-UpLeft {
      margin-bottom: 10px;
    }
    #session-DownLeft {
      gap: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #page-aprenda {
    .texto-cards {
      height: 100%;
    }
  }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) and (max-width: 1199px) {
  #page-aprenda {
    
  }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) and (max-width: 1399px) {
  #page-aprenda {
    
  }
}
@media (min-width: 1400px) {
  #page-aprenda {
    
  }
}
