#page-livre-e-aberto {
    // Escreva aqui dentro
    .pretto {
      background-color: $cinza-escura;
      color: $branca-do-fundo;
    }
    .audio {
      line-height: 1.5;
    }

    svg path {
      fill: $branca;
  }

  .current-time,
  .total-time {
    color: $branca;
  }
}