// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
@media (max-width: 360px) {
  #page-tutoriais {
    .title-line {
      width: 148%;
    }
    #lupa {
      width: 20%;
    }

    #card-filtro-tutoriais {
      min-width: 94%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .nineth {
      width: 80%;
      padding-top: 8px;
    }
    .tenth {
      width: 40%;
      padding-top: 8px;
    }
    .eleventh {
      width: 70%;
      padding-top: 8px;
    }
  }
}
// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (min-width: 361px) and (max-width: 575px) {
  #page-tutoriais {
    .title-line {
      width: 148%;
    }
    #lupa {
      width: 20%;
    }

    #card-filtro-tutoriais {
      min-width: 94%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .nineth {
      width: 80%;
      padding-top: 8px;
    }
    .tenth {
      width: 40%;
      padding-top: 8px;
    }
    .eleventh {
      width: 70%;
      padding-top: 8px;
    }
  }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) and (max-width: 767px) {
  #page-tutoriais {
    .title-line {
      width: 148%;
    }
    #lupa {
      width: 20%;
    }

    #card-filtro-tutoriais {
      min-width: 47%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .nineth {
      width: 80%;
      padding-top: 8px;
    }
    .tenth {
      width: 40%;
      padding-top: 8px;
    }
    .eleventh {
      width: 70%;
      padding-top: 8px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #page-tutoriais {
    .title-line {
      width: 148%;
    }

    #card-filtro-tutoriais {
      min-width: 31%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .nineth {
      width: 80%;
      padding-top: 48px;
    }
    .tenth {
      width: 40%;
      padding-top: 48px;
    }
    .eleventh {
      width: 70%;
      padding-top: 48px;
    }
  }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) and (max-width: 1199px) {
  #page-tutoriais {
    .title-line {
      width: 148%;
    }

    #card-filtro-tutoriais {
      min-width: 31%;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh,
    .eighth,
    .nineth {
      width: 80%;
    }
    .tenth {
      width: 50%;
    }
    .eleventh {
      width: 70%;
    }
  }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) and (max-width: 1399px) {
  #page-tutoriais {
    .title-line {
      width: 124%;
    }

    #card-filtro-tutoriais {
      min-width: 31%;
    }
  }
}

@media (min-width: 1400px) {
  #page-tutoriais {
    #card-filtro-tutoriais {
      min-width: 32%;
    }
    .filtro-dev {
      width: 100%;
    }
  }
}