#page-tutoriais {
  // Escrever aqui dentro

  #filtro-div {
    display: flex;
    flex-direction: row;

    &:first-child {
      width: 100%;
    }
  }


  #titulo-filtro h2 {
    font-size: 24px;
  }

  .small-text {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0px;
    padding-bottom: 10px;
  }

  .card .card-body .img {
    display: block;
    width: 100%;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-body p {
    font-size: 18px;
  }

  .card.filtro {
    background-color: $branca-do-fundo;
  }
  .card.filtro:hover {
    background-color: $tutoriais;
    color: $branca !important;
    cursor: pointer;
  }

  .borda-esq-base:hover {
    background-color: $vermelha;
    color: $branca-do-fundo !important;
    cursor: pointer;
  }

  #card-filtro-tutoriais {
    height: 4.5rem;
    color: $cinza-escura;
    font-size: 18px;
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .filter-click {
    background-color: $roxa!important;
    color: $branca-do-fundo!important;
  }

  .card {
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 18px;
    color: $cinza-escura;
    height: 4.5rem;
    width: 49.5%;
    background: $branca-do-fundo;
  }

  .card-header.tutoriais {
    width: 100%;
    // height: 25%;
    left: 187px;
    top: 425px;
    color: $branca;
    background-color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 0;
  }

  .card.tutoriais {
    height: 100%;
    width: 100%;
    font-family: $font-textos;
    font-style: normal;
    font-size: 18px;
    color: $cinza-escura;
    border-top: 2px solid $cinza-escura;
    border-left: 0;
    border-bottom: 2px solid $cinza-escura;
    border-right: 2px solid $cinza-escura;
    border-radius: 0px;
    background-color: $branca-do-fundo;
  }

  .card.tutoriais::after {
    content:'';
    position: absolute;
    background-color: $cinza-escura;
    width: 2px;
    height: 70%;
    top: 0;
    left: 0;
  }

  .card.tutoriais:hover {
    border-top: 2px solid $roxa;
    border-bottom: 2px solid $roxa;
    border-right: 2px solid $roxa;
    cursor: pointer;
  }

  .card.card.tutoriais:hover::after {
    background-color: $roxa;
  }

  .card.tutoriais:hover .card-header.tutoriais,
  .card-header.tutoriais:hover {
    background-color: $roxa;
    cursor: pointer;
  }
}
