#page-recursos {
  // Escrever aqui dentro

  box-sizing: border-box;

  #subtitulo-recursos h2,
  #titulo-filtro h2 {
    font-size: 24px;
  }

  #filtro-div {
    padding-bottom: 48px;
  }

  .filter-click {
    background-color: $vermelha!important;
    color: $branca!important;
  }

  .small-text {
    color: $cinza-escura;
    text-decoration: none;
    text-transform: none;
    padding-bottom: 10px;
  }

  #card-filtro:hover {
    background-color: $vermelha !important;
    color: $branca-do-fundo !important;
    cursor: pointer;
    
      &::after {
      content: "";
      width: 4px;
      height: 30%;
      background: $vermelha;
      position: absolute;
      bottom: 0px;
      left: 0;
      }
  }

  #card-filtro {
    font-family: $font-titulos-menores;
    font-style: normal;
    color: $cinza-escura;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    height: 4.5rem;
    width: 49.5%;
    background: $branca-do-fundo;
  }

  #card-filtro::after {
    content: "";
    width: 4px;
    height: 30%;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 0px;
    left: -4px;
  }
  .card.recursos {
    color: $cinza-escura;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    background-color: $branca-do-fundo;
  }

  .card.recursos::after {
    content: "";
    width: 4px;
    height: 88px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 0px;
    left: -4px;
  }

  .card-header-recursos {
    background-color: $cinza-escura;
    border-radius: 0px;
  }

  .texto-header-recursos {
    color: $branca;
    left: 20px;
  }

  .botao-card-recursos {
    background-color: $cinza-escura;
    color: $branca;
    width: 159px;
    height: 43px;
    border: 2px solid $cinza-escura;
  }

  #recursos-abertos-div {
    padding-bottom: 165px;
  }

  .card.recursos:hover .card-header-recursos,
  .card-header-recursos:hover {
      background-color: $vermelha;
  }
  
  .card.recursos:hover {
      border-color: $vermelha;
  }
}
