// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
@media (max-width: 360px) {
  #page-recursos {
    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 14px;
    }
    #card-filtro {
      font-size: 13px;
    }
  }
}
// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (min-width: 361px) and (max-width: 575px) {
  #page-recursos {
    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 14px;
    }

    #card-filtro {
      font-size: 15px;
    }
  }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) and (max-width: 767px) {
  #page-recursos {
    #parte-esquerda {
      max-width: 50%;
    }
    #parte-direita {
      max-width: 50%;
    }

    #compartilhamento,#escrita-colaborativa,#videos,#conferencias-visuais,#recursos-abertos{
      font-size: 24px;
    }

    #card-filtro {
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #page-recursos {
    #card-filtro {
      font-size: 18px;
    }
  }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) and (max-width: 1199px) {
  #page-recursos {
    #card-filtro {
      font-size: 18px;
    }
  }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) and (max-width: 1399px) {
  #page-recursos {
    
  }
}
