// Suporte a alinhamento ampla e completa. Adiciona estilos apropriados às classes 'alignfull', 'alignwide' e ''(padrão vazio)
.entry-content > *:not( .alignwide ):not( .alignfull ) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image.alignfull {
    display: block;
    text-align: center;
}

.wp-block-image .alignewide {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

// Define a paleta de cores padrão do site
.has-vermelha-background-color {
    background-color: #d04c4c;
}
.has-vermelha-color {
    color: #d04c4c;
}
.has-text-color {
    
}
.has-background {

}
.has-azul-background-color {
    background-color: #38a1b7;
}
.has-azul-color {
    color: #38a1b7;
}

.has-cinzaescura-background-color {
    background-color: #3f3f3f;
}
.has-cinzaescura-color {
    color: #3f3f3f;
}

.has-cinzaclara-backgound-color {
    background-color: #bcbcbc;
}
.has-cinzaclara-color {
    color: #bcbcbc;
}

.has-roxa-background-color {
    background-color: #5c5f98;
}
.has-roxa-color {
    color: #5c5f98;
}

.has-verde-background-color {
    background-color: #1b6a76;
}
.has-verde-color {
    color: #1b6a76;
}

.has-brancafundo-background-color {
    background-color: #f5f5f5;
}
.has-brancafundo-color {
    color: #f5f5f5;
}

.has-branca-background-color {
    background-color: #ffffff;
}
.has-branca-color {
    color: #ffffff;
}

.has-preta-background-color {
    background-color: #000000;
}
.has-preta-color {
    color: #000000;
}
