/* Globais */
html, body {
    font-family: $font-textos;
    font-size: 16px;
    background-color: $branca-do-fundo;
    color: $cinza-escura;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px !important;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

// Padrões tipográficos
h1 {
    font-family: $font-titulos-paginas;
    font-size: 60px;
    line-height: 1.5;
    color: $cinza-escura;
    color: var(--bs-secondary-color) !important;
}

h2 {
    font-family: $font-titulos-paginas;    
    font-size: 50px;
    line-height: 1.5;
    color: $cinza-escura;
}

h3 {
    font-family: $font-titulos-menores;
    font-size: 24px;
    line-height: 1.5
}

h4 {
    font-family: $font-titulos-menores;
    font-size: 20px;
    line-height: 1.5
}

h5, h6 {
    font-family: $font-titulos-menores;
    font-size: 18px;
    line-height: 1.5;
}

// Menus
.menu {
    font-family: $font-textos-menu;
    background-color: $azul;
}
.menu-item {
    color: $branca-do-fundo;
}
.menu-item:hover {
    color: $verde;
}

p,
span,
ol li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: $cinza-escura;
}

p {
    margin-bottom: 18px;
}

// Estilos das listas
ul, ol {
    list-style: none;
}

.row {
    margin: 0;
    padding: 0;
}

// Fundo preto fonte branca
.fundo-preto {
    background-color: $cinza-escura;
    color: $branca-do-fundo;
}

// Adicionar classe linque ao elemento html ascendente a <a>
.linque {
    a {

        &:hover {
            color: $vermelha !important;
        }
    }
}
// Adicionar classe linque ao elemento html ascendente a <a>
.linque-verde {

    a {

        &:hover {
            color: $verde !important;
        }
    }
}
// Aplique efeitor :hover {red} a qualquer elemento html
.rato:hover {
    color: $vermelha !important;
}

// Bordas
// REF.: https://hollybourneville.medium.com/creating-border-lines-using-pseudo-elements-in-css-a460396299e8
// Adicionando pseudoelementos em elementos de entrada - https://dev.to/erhannah/adding-pseudoelements-on-input-elements-5bdk

// Borda fechada na cor padrão para quando necessário
.borda-fechada {
    border: none; // Anula bordas preexistentes
    border-radius: 0; // Borda quadrada
    border: 2px solid $cinza-escura !important;
    background-color: $branca-do-fundo;
}

// Borda abertura esquerda topo
.borda-esq-topo,
.borda-esq-topo:hover,
.borda-esq-topo:focus {
    border: none; // Anula bordas preexistentes
    border-radius: 0; // Borda quadrada
    border-top: 2px solid $cinza-escura;
    border-right: 2px solid $cinza-escura;
    border-bottom: 2px solid $cinza-escura;
    background-color: $branca-do-fundo;

    position: relative; // Permite o uso do pseudoseletor ::after mas não irá funcionar com elementos de entrada como input etc.
    // Use as tags de entrada seguida da tag span. 
    // Ex.: <input class="barda-esq-topo" />
    //      <span class="borda-esq-topo-entrada"></span>
    &::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 2px;
        height: 70%;
        bottom: 0;
        left: 0;
    }
}

.borda-esq-topo-entrada::after {
    content:'';
    position: absolute;
    background-color: $cinza-escura;
    width: 2px;
    height: 70%;
    bottom: 0;
    left: 0;
}


// Borda abertura na direita topo
.borda-dir-topo,
.borda-dir-topo:hover,
.borda-dir-topo:focus {
    border-radius: 0; // Borda quadrada
    border-top: 2px solid $cinza-escura;
    border-left: 2px solid $cinza-escura;
    border-bottom: 2px solid $cinza-escura;
    background-color: $branca-do-fundo;
    color: $cinza-escura;
    width: 100%;
    
    position: relative; // Permite o uso do pseudoseletor ::after
    &::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 2px;
        height: 70%;
        bottom: 0;
        right: 0;
    }
}

// Borda abertura direita na base
.borda-dir-base {
    border-radius: 0; // Borda quadrada
    border-top: 2px solid $cinza-escura;
    border-left: 2px solid $cinza-escura;
    border-bottom: 2px solid $cinza-escura;
    background-color: $branca-do-fundo;
    width: 100%;
    
    position: relative; // Permite o uso do pseudoseletor ::after
    &::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 2px;
        height: 70%;
        top: 0;
        right: 0;
    }
}

// Borda abertura esquerda base
.borda-esq-base {
    border-radius: 0; // Borda quadrada
    border-top: 2px solid $cinza-escura;
    border-right: 2px solid $cinza-escura;
    border-bottom: 2px solid $cinza-escura;
    background-color: $branca-do-fundo;
    width: 100%;
    
    position: relative; // Permite o uso do pseudoseletor ::after
    &::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 2px;
        height: 70%;
        top: 0;
        left: 0;
    }
}

// Espaçamentos padronizados
.espaco-80 {
    min-height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.espaco-60 {
    min-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;    
}
.espaco-40 {
    min-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

// Recursos relacionados
#relacionados {
    img {
        width: 180px;
        height: 140px;
    }
}
