// Fontes
$font-titulos-paginas: 'Neris', sans-serif;
$font-titulos-menores: 'Montserrat', sans-serif;
$font-textos: 'Open Sans', sans-serif;
$font-textos-menu: 'Neris', sans-serif;

// Paleta de cores
$vermelha: #d04c4c;
$azul: #38a1b7;
$cinza-escura: #3f3f3f;
$cinza-clara: #bcbcbc;
$roxa: #5c5f98;
$verde: #1b6a76;
$branca-do-fundo: #f5f5f5;
$branca: #ffffff;

$recursos: #d04c4c;
$tutoriais: #5c5f98;

$texto: #3f3f3f;
$secundaria: #d04c4c;
$rato: #d04c4c;