// Globais

// Biblioteca/Framework Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Fontes Neris
//@import url('https://fonts.cdnfonts.com/css/neris');  //  https://www.cdnfonts.com/neris.font
@import '../fonts/neris-webfont/style.css';
// Fontes Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// Fontes Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Padrões do template
@import "variables";
@import "tema-global";

// Suporte a alinhamento ampla e completa. Adiciona estilos apropriados ás classes 'alignfull', 'alignwide' e ''(padrão vazio)
@import "./blocos-global";

// Componentes
@import "componentes/titulo-h1";
@import "componentes/busca";
@import "componentes/audio-player";
@import "componentes/trilha-de-navegacao";
@import "componentes/migalhas-de-pao";
@import "componentes/caixa-de-video";


// Layout do cabeçalho
@import "header/header";
@import "header/header-medias";
@import "header/menu";

// Páginas: <main>
// Home
@import "home/home-topo";
@import "home/home-meio";
@import "home/home-base";
@import "home/home-medias";

// Recursos
@import "recursos/recursos";
@import "recursos/recursos-medias";

// Aprenda
@import "aprenda/aprenda";
@import "aprenda/aprenda-medias";

// Tutoriais
@import "tutoriais/tutoriais";
@import "tutoriais/tutoriais-medias";

// Sobre
@import "sobre/sobre";
@import "sobre/sobre-medias";

//Contexto
@import "contexto/contexto";
@import "contexto/contexto-medias";

// Contato
@import "contato/contato";
@import "contato/contato-medias";

// Novidade
@import "novidade/novidade";
@import "novidade/novidade-medias";

// Pesquisa
@import "pesquisar/pesquisar";
@import "pesquisar/filtros-categorias";
@import "pesquisar/pesquisar-medias";
@import "pesquisar/search";

// Livre e Aberto (Livre, gratis ou aberto?)
@import "livre-e-aberto/livre-e-aberto";

// Qualidade
@import "qualidade/qualidade";
@import "qualidade/qualidade-medias";

// Aprendizagem
@import "aprendizagem/aprendizagem";

// Liberdade
@import "liberdade/liberdade";

// Autonomia
@import "autonomia/autonomia";

// Single Aprenda
@import "single-aprenda/single-aprenda";

// Escrita Colaborativa
@import "escrita-colaborativa/escrita-colaborativa";

// Conferências Virtuais
@import "conferencias-virtuais/conferencias-virtuais";

// Page Videos
@import "page-videos/page-videos";

// Page REA - Recursos Educacionais Abertos
@import "page-rea/page-rea";

// Direitos e privacidade
@import "direitos-e-privacidade/direitos-e-privacidade";

// Layout do rodapé
@import "footer/footer";
@import "footer/footer-medias";


