// Última linha da home
.linha-base {
    border-radius: 0px;
    border-top: 3px solid $cinza-escura;
    border-left: 3px solid $cinza-escura;
    border-bottom: 3px solid $cinza-escura;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 6.25rem;
    
    p {
        padding: 50px 27px 50px 40px;
        font-size: 24px;
        margin: 0;
    }
    
    &::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 3px;
        height: 70%;
        bottom: 0;
        right: 0;
    }
}