// Linha segunda
#page-home {
    .linha-meio {
        margin-bottom: 6rem;

        .container {
            min-width: 100% !important;
        }

        ul li {
            padding: 3.25rem 0;
            position: relative;

            h2 {
                color: $cinza-escura;
                font-family: 'Neris', sans-serif;
                font-style: normal;
                line-height: 1;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: none;

                &::first-letter {
                    font-weight: 600;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background-color: $cinza-escura;
                    width: 100%;
                    height: 4px;
                    bottom: 30px;
                    left: 0;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
        }

        .aprenda {

            h2:hover {
                &::after {
                    opacity: 1;
                    background-color: $azul; // Altere a cor conforme necessário
                }

                a {
                    color: $azul !important;
                }
            }

            a {
                &:hover {
                    color: $azul !important;
                }
            }
        }

        .recursos {

            h2:hover {
                &::after {
                    opacity: 1;
                    background-color: $vermelha; // Altere a cor conforme necessário
                }

                a {
                    color: $vermelha !important;
                }
            }

            a {
                &:hover {
                    color: $vermelha !important;
                }
            }
        }

        .tutoriais {

            h2:hover {
                &::after {
                    opacity: 1;
                    background-color: $roxa; // Altere a cor conforme necessário
                }

                a {
                    color: $roxa !important;
                }
            }

            a {
                &:hover {
                    color: $roxa !important;
                }
            }
        }
    }
}

