// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307

// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (max-width: 575px) {
    #page-home {
        // Linha do topo
        .conteiner-topo {
            font-size: 16px;
          }
        .titulo {
            padding: 0;
            padding-top: 3rem;
            h1 {
                margin-left: 30px;
                position: relative;
                &::after {
                    content:"";
                        position: absolute;
                        background-color: #3f3f3f;
                        width: 70%;
                        height: 4px;
                        bottom: -5px;
                        left: -50px;
                        opacity: 1;
                }
                &::before {
                    content:"";
                        position: absolute;
                        background-color: #3f3f3f;
                        width: 70%;
                        height: 4px;
                        bottom: -5px;
                        left: -50px;
                        opacity: 1;
                }
  
                p {
                    font-size: 48px;
                    margin: 0;
                }
            }
  
            .paragrafo {
                margin-left: 5px;
                color: $cinza-escura;
                font-size: 13px;
            }
        }
  
        .subtitulo {
            h2 {
                color: $branca;
                font-size: 16px;
            }

            p {
                color: $cinza-escura;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 1px;
            }
        }
        // Linha do meio
        .desktop {
          display: none;
        }

        .mobile {
          h2 {
            font-size: 30px;
          }
        }
  
        // Linha da base
        .descricao {
            p {
                color: $cinza-escura;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 450px) {}

// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior até 767px)
@media (min-width: 576px) and (max-width: 767px)  {
    #page-home {
        // Linha do topo
        .linha-titulo {
            padding: 0;
            padding-top: 3rem;
        }

        h1 {
            font-size: 3rem;
            position: relative;
      
            &::after {
                content:"";
                position: absolute;
                background-color: $cinza-escura;
                width: 70%;
                height: 4px;
                bottom: -5px;
                left: -125px;
                opacity: 1;
            }
            
            p {
                font-size: 3rem;
                line-height: 1; /* Altura da linha 1.5 vezes o tamanho da fonte */
                margin: 0 22px;
            }
        }
        // Coluna Esquerda
        .linha-titulo {

            h1 p {
                font-size: 48px;
                margin: 0 22px;
            }

            .paragrafo {
                color: $cinza-escura;
                font-size: 16px;
            }
        }

        // Coluna Direita

        // linha do meio
        .linha-meio {
            h2 {
                font-size: 34px;
            }
        }

        .mobile {
          display: none;
        }

        // Linha da base
        .descricao {
            p {
                color: $cinza-escura;
                font-size: 16px;
            }
        }
    }
}

// -md- Dispositivos médios (tablets, 768px e superior)
@media (min-width: 768px) and (max-width: 991px) {
    .paragrafo {
        font-size: 16px;
    }

    .subtitulo {
        font-size: 16px;
    }

    // Linha do meio
    .linha-meio ul li col-1 {
        display: none !important;
    }

    .linha-meio {
        h2 {
            font-size: 34px;
        }
    }
    .mobile {
      display: none;
    }

    #page-home {

        // Linha do topo
        .linha-titulo {
            padding-top: 3rem;
        }

        .titulo-home h1 p {
            line-height: 1; /* Altura da linha 1.5 vezes o tamanho da fonte */
            
        }

        h1 {
            font-size: 3rem;
            position: relative;
      
            &::after {
                content:"";
                position: absolute;
                background-color: $cinza-escura;
                width: 70%;
                height: 4px;
                bottom: -5px;
                left: -170px;
                opacity: 1;
            }
            
            p {
                font-size: 3rem;
                line-height: 1; /* Altura da linha 1.5 vezes o tamanho da fonte */
                margin: 0 22px;
            }
        }

        .img-fluid {
            width: 717px;
        }

        // Linha do meio
        .mobile {
          display: none;
        }

        // linha da base
        .linha-base p {
            font-size: 16px;
        }
    }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) {
    #page-home {
        // Linha do topo
        .conteiner-topo {
            padding: 0;
            margin: 6rem auto;

            border-radius: 0px;
            border-top: 3px solid $cinza-escura;
            border-left: 3px solid $cinza-escura;
            border-bottom: 3px solid $cinza-escura;
            position: relative;
        
            &::after {
                content:"";
                position: absolute;
                background-color: $cinza-escura;
                width: 3px;
                height: 70%;
                bottom: 0;
                right: 0;
            }
        }
      
        .linha-titulo {
            padding: 40px 80px;

            // Coluna Esquerda
            h1 {
                color: $cinza-escura;
            
                p {
                    font-size: 90px;
                    margin: 0 20px;
                }
            }

            .paragrafo {
                color: $cinza-escura;
                font-size: 20px;
            }
        }

        // Coluna Direita
        .deslocar {
            margin-top: -8.5rem;
        }

        // linha do meio
        .linha-meio {
            h2 {
                font-size: 60px;
            }
        }
        .mobile {
          display: none;
        }

        // Linha da base
        .descricao {
            p {
                color: $cinza-escura;
                font-size: 24px;
            }
        }
    }
}

// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) and (max-width: 1400px)  {
    #page-home {
        // Linha do topo
        .conteiner-topo {
            padding: 0;
            margin: 6rem auto;

            border-radius: 0px;
            border-top: 3px solid $cinza-escura;
            border-left: 3px solid $cinza-escura;
            border-bottom: 3px solid $cinza-escura;
            position: relative;
        
            &::after {
                content:"";
                position: absolute;
                background-color: $cinza-escura;
                width: 3px;
                height: 70%;
                bottom: 0;
                right: 0;
            }
        }
      
        .linha-titulo {
            padding: 40px 80px;

            // Coluna Esquerda
            h1 {
                color: $cinza-escura;
            
                p {
                    font-size: 90px;
                    margin: 0 20px;
                }
            }

            .paragrafo {
                color: $cinza-escura;
                font-size: 20px;
            }
        }

        // Coluna Direita
        .deslocar {
            margin-top: -8.5rem;
        }

        // linha do meio
        .linha-meio {
            h2 {
                font-size: 60px;
            }
        }
        .mobile {
          display: none;
        }

        // Linha da base
        .descricao {
            p {
                color: $cinza-escura;
                font-size: 24px;
            }
        }
    }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1400px) {
   #page-home {
    .mobile {
      display: none;
    }      
 }
}