#page-home {

    .conteiner-topo {
        height: auto;
        width: 100%;
        font-size: 24px;
    }
    
    .deslocar {
        padding: 0;
    }
    
    .titulo {
        font-size: 1.25rem;
        padding: 0;
    
        h1 {

            &::first-line {
                padding: 0;
            }
    
            p {
                font-family: $font-titulos-paginas;
                line-height: 1.2;
            }
            
            p::first-letter {
                font-weight: 600;
            }
        }
    }

    .paragrafo {
        font-family: 'Open Sans', sans-serif;
    }
    
    .subtitulo {
        border-radius: 0px;
        border-top: 3px solid $cinza-escura;
        border-right: 3px solid $cinza-escura;
        border-bottom: 3px solid $cinza-escura;
        position: relative;
        padding: 0;
        
        &::after {
            content:'';
            position: absolute;
            background-color: $cinza-escura;
            width: 3px;
            height: 70%;
            top: 0;
            left: 0;
        }
            
        h2 {
            color: $branca;
            background-color: $cinza-escura;
            display: inline-block;
            width: 100%;
            font-family: $font-titulos-menores;
            font-size: 2.25rem;
            letter-spacing: 1px;
        }
    }
}