// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307

// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (max-width: 575px) {

    
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) {
    
}

// -md- Dispositivos médios (tablets, 768px e superior)
@media (min-width: 768px) {
    
    
}

@media (max-width: 991px) {
    #rodape {
        div .list-unstyled {
            margin-bottom: 3rem !important;
        }
    }
    
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) {
    #rodape {
        .separador-rodape {
            position: relative;
    
            ul {
                /* Estilo da lista ul.col */
    
                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--bs-border-color); /* Utilizando a variável de cor da borda */
                    width: var(--bs-border-width); /* Utilizando a variável de largura da borda */
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }    
}

// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) {
    

}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1400px) {
    
    
}






/*

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {}

// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}

//
@media screen and (max-width: 769px) {}

*/