#rodape {

    h3 {
        color: $texto;
        font-family: $font-titulos-menores;
        font-style: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0px;
    }

    // Adicionar a classe ao elemento html ascendente
    .linque-rodape {
        color: $cinza-escura;
        font-family: $font-textos;
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0px;
        text-transform: none;

        a {
            color: $cinza-escura;
            text-decoration: underline;
        }
    }
    .separador-rodape {
        padding: 0 !important;
        position: relative !important;
    }
}