#header {
  ul li a {
    color: $cinza-escura;
    font-family: $font-titulos-paginas;
  }
  
  .recursos {
//    a {
//      &:hover {
//        color: $vermelha;
//        text-decoration: underline;
//      }
    
//      &:focus {
//        color: $vermelha;
//        text-decoration: underline;
//      }
//    }
  
    .active {
      color: $vermelha;
    }
  }
  
  .aprenda {
//    a {
//    &:hover {
//        color: $azul;
//        text-decoration: underline;
//      }
    
//      &:focus {
//        color: $azul;
//      }
//    }
  
    .active {
      color: $azul;
    }
  }
  
  .tutoriais {
//    a {
//      &:hover {
//        color: $roxa;
//        text-decoration: underline;
//      }
    
//      &:focus {
//        color: $roxa;
//      }
//    }
  
    .active {
      color: $roxa;
    }
  }
  
  .sobre {
//    a {
//      &:hover {
//        color: $verde;
//        text-decoration: underline;
//      }
    
//      &:focus {
//        color: $verde;
//      }
  
//      &:active {
//        color: $verde;
//      }
//    }
  
    .active {
      color: $verde;
    }
  }
  
  
  // Header
  .logo img {
    padding: 20px 0;
  }
  
  // Menu
  #navbarNav li {
    display: inline-block;
    margin-left: 20px;
  }
  /*
  div.end {
    display: flex;
    flex-direction: row;
  }
  */
  .lupa,
  .correios,
  .idiomas {
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    //    padding: 4.375rem 0;
  }
  
  .lupa {
    background-image: url("../images/search.svg");
    cursor: pointer;
    border: 2px solid $cinza-escura;
    border-radius: 0;
    width: 46px;
    height: 43px;
    position: relative;
    margin-left: 6px;
  }
  .lupa:hover {
    background-color: $azul;
  }
  .lupa::after {
    content: "";
    width: 2px;
    height: 19px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 23px;
    right: -2px;
  }
  
  .correios {
    background-image: url("../images/mail.svg");
    cursor: pointer;
    border: 2px solid $cinza-escura;
    border-radius: 0;
    width: 46px;
    height: 43px;
    margin-left: 6px;
  }
  .correios:hover {
    background-color: $azul;
  }
  .correios::after {
    content: "";
    width: 2px;
    height: 19px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: -2px;
    left: -2px;
  }
  .idiomas {
    cursor: pointer;
    border: 2px solid $cinza-escura;
    border-radius: 0;
    position: relative;
    width: 46px;
    height: 43px;
    margin-left: 6px;
    padding-top: 6px;
    a {
      color: $cinza-escura;
    }
    &:hover {
    background-color: $azul;
    }
    &.idiomas::after {
    content: "";
    width: 3px;
    height: 19px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 24px;
    right: -3px;
    }
  }
  /* Estilos para lista suspensa */
  .language-item:not(.current-language) {
      display: none; /* Oculta os itens de idioma que não são o idioma atual */
  }
  .language-switcher:hover .language-item:not(.current-language) {
      display: block; /* Exibe os itens de idioma quando o cursor passa sobre o botão do idioma atual */
  }

  .botao-sanduiche {
    background-image: url("../images/sandwich.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    cursor: pointer;
    border: 2px solid $cinza-escura;
    border-radius: 0;
    width: 46px;
    height: 43px;
  }
  
  .botao-sanduiche:hover {
    background-color: $azul;
  }
  
  .botao-sanduiche::after {
    content: "";
    width: 2px;
    height: 19px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 24px;
    left: 0px;
  }
  
  // Anular borda do botão sanduiche Bootstrap
  .navbar button {
    border: none;
    padding: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}


