// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307

// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (max-width: 575px) {

    
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) {
    
}

// -md- Dispositivos médios (tablets, 768px e superior)
@media (min-width: 768px) {
    
    
}

@media screen and (max-width: 767px) {
  .correios {
    display: none;
  }
  .lupa {
    display: none;
  }
  .nav-item{
    margin: 10px 0 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .correios {
    display: none;
  }
  .lupa {
    display: none;
  }
  .nav-item {
    margin: 10px 0 10px 0;
  }
  .navbar-nav  {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  #header {
    .navbar-collapse {
      flex-basis: auto; /* Substitui a propriedade flex-basis apenas em telas menores */
    }

    .escrivania {
      display: none !important;
    }

    .portatil {
      /* Efeito de hover nos elementos <li> */
      .navbar-nav .nav-item:hover {
        background-color: $cinza-escura;

        /* Cor da fonte no efeito de hover */
        .navbar-nav .nav-item .nav-link:hover {
          color: $branca !important;
        }

        .navbar-nav .nav-item .nav-link {
          height: 300px;
        }
      }
    }
  }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) {
  .portatil {
    display: none;
    
  }    
}

// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) {
    

}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1400px) {
    
    
}

/*

// Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {}

// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}

//
@media screen and (max-width: 769px) {}

*/





  
  /*
  div.icone.lupa:after {
      position: absolute;
      width: 50%;
      height: 5px;
      background-color: black;
      display: block;
      content: "";
      top: 10%;
      left: 10%;
      
      transform: rotate(45deg);
      transform-origin: -10px 40px;
  }
  
  
  main {
      height: 100%;
      margin: 0;
  
      #ctn-menu {
          float: left;
          height: 100%;
          width: 25%;
          // background: blue;
      }
      #ctn-conteudo {
          float: left;
          height: 100%;
          width: 75%;
          padding-bottom: 20px;
          background: $black;
      }
  
      #ctn-menu {
          height: 100%;
          padding: 40px 0;
          text-align: center;
          background-color: $secondary;
          color: $primary;
  
          ul {
              text-align: right;
              list-style: none;
              width: 60%;
              margin: 0 auto;
              margin-top: 20px;
  
              li {
                  padding: 5px 0;
                  a {
                      color: $primary;
                  }
              }
              
          }
  
          .ctn-menu-header {
              height: 40%;
              // background-color: red;
          }
  
          .logo {
              width: 60%;
              margin-top: 6%;
          }
          .socials {
              display: block;
              width: 100%;
              margin: 20px 0 40px;
  
              a {
                  color: $primary;
                  font-size: 30px;
                  margin-right: 12px;
              }
          }
      }
  
      #page-home {
          padding-right: 20px;
          height: 100%;
      }
  }
  */
  