#header {
    .escrivania {
        .navbar-nav {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            .nav-item {
                margin-right: 20px;
                .nav-link {
                    text-decoration: underline;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        height: 2px;
                        width: 0%;
                        background-color: transparent;
                        transition: width 0.3s;
                    }
                    /* Logo responsiva */
                    &.logo-grande {
                        max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
                    }

                    /* Tamanho reduzido da logo no mobile */
                    @media (max-width: 767px) {
                        .logo-grande {
                            max-width: 50%; /* Reduz o tamanho da logo para metade no mobile */
                        }
                    }

                    &.recursos-link {
                        &:hover {
                            color: $vermelha;
                          }
                        
                          &:focus {
                            color: $vermelha;
                          }
                        &:hover::after, &.recursos-link.active::after {
                            width: 100%;
                            background-color: $vermelha;
                        }
                    }

                    &.aprenda-link {
                        &:hover {
                            color: $azul;
                            text-decoration: underline;
                        }
                        
                        &:focus {
                            color: $azul;
                        }
                        &:hover::after, &.aprenda-link.active::after {
                            width: 100%;
                            background-color: $azul;
                        }
                    }

                    &.tutoriais-link {
                        &:hover {
                            color: $roxa;
                            text-decoration: underline;
                        }
                        
                        &:focus {
                            color: $roxa;
                        }

                        &:hover::after, &.tutoriais-link.active::after {
                            width: 100%;
                            background-color: $roxa;
                        }
                    }

                    &.sobre-link {
                        &:hover {
                            color: $verde;
                            text-decoration: underline;
                        }
                        
                        &:focus {
                            color: $verde;
                        }
                      
                        &:active {
                            color: $verde;
                        }

                        &:hover::after, &.sobre-link.active::after {
                            width: 100%;
                            background-color: $verde;
                        }
                    }
                }
            }
        }
    }
    .portatil {
        .navbar-brand.custom-logo #img-logo img {
            max-width: 50px !important;
        }
        .navbar-nav {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            .nav-item {
                margin-right: 20px;
                height: 100px;
                .nav-link {
                    text-decoration: underline;
                    position: relative;
                    font-size: 36px;
                    text-transform: uppercase;
                    color: $cinza-escura;
                    font-weight: 600;
                    //&::after {
                    //    content: '';
                    //    position: absolute;
                    //    left: 0;
                    //    bottom: -3px;
                    //    height: 2px;
                    //    width: 0%;
                    //    background-color: transparent;
                    //    transition: width 0.3s;
                    //}

                    &.recursos-link {
                        &:hover {
                            color: $branca !important;
                        }
                        
                    //      &:focus {
                    //        color: $vermelha;
                    //      }
                    //    &:hover::after, &.recursos-link.active::after {
                    //        width: 100%;
                    //        background-color: $vermelha;
                    //    }
                    }

                    &.aprenda-link {
                        &:hover {
                            color: $branca !important;
                            text-decoration: underline;
                        }
                        
                        //&:focus {
                        //    color: $azul;
                        //}
                        //&:hover::after, &.aprenda-link.active::after {
                        //    width: 100%;
                        //    background-color: $azul;
                        //}
                    }

                    &.tutoriais-link {
                        &:hover {
                            color: $branca !important;
                            text-decoration: underline;
                        }
                        
                        //&:focus {
                        //    color: $roxa;
                        //}

                        //&:hover::after, &.tutoriais-link.active::after {
                        //    width: 100%;
                        //    background-color: $roxa;
                        //}
                    }

                    &.sobre-link {
                        &:hover {
                            color: $branca !important;
                            text-decoration: underline;
                        }
                        
                        //&:focus {
                        //    color: $verde;
                        //}
                      
                        //&:active {
                        //    color: $verde;
                        //}

                        //&:hover::after, &.sobre-link.active::after {
                        //    width: 100%;
                        //    background-color: $verde;
                        //}
                    }
                }
            }
        }
    }
}

// Fonte Simbolo (CC) Creative Commons
// https://www.ctrl.blog/entry/creative-commons-unicode-fallback-font.html
/*
@font-face {
    font-display: swap;
    font-family: CCSymbols;
    font-synthesis: none;
    src: url(../../fonts/CCSymbols/CCSymbols.woff2) format(woff2),
         url(../../fonts/CCSymbols/CCSymbols.woff)  format(woff);
    unicode-range: u+a9, u+229c,
                   u+1f10d-1f10f,
                   u+1f16d-1f16f;
}
  
#rodape .rato {
    font-family: Helvetica,
                 Arial,
                 sans-serif,
                 CCSymbols;
}
*/