#page-contato {
  .card {
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 36px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    background-color: $branca-do-fundo;
  }

  .card-header.contato {
    width: 100%;
    height: 25%;
    left: 187px;
    top: 425px;
    color: $branca;
    background-color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 0;
  }

  .card-header:first-child {
    border-radius: 0;
    border: none;
  }

  .card.contato {
    height: 100%;
    width: 100%;
    font-family: $font-textos;
    font-style: normal;
    font-size: 14px;
    color: $cinza-escura;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    background-color: $branca-do-fundo;

    p {
      margin-bottom: 0;
      border: 0;
    }
  }

  .card-body {
    background-color: $branca-do-fundo;
    border: none;
  }
  .card button {
    color: $branca-do-fundo;
    background-color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 18px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
  }

  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    border: none;
    background-color: $cinza-escura;
    color: $branca;
    padding: 5px;
  }
  
  .card option {
    background-color: $branca-do-fundo;
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 18px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
  }

  .card option:hover {
    color: $branca !important;
    background-color: $cinza-escura !important;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 18px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .card option:focus {
    color: $branca !important;
    background-color: $cinza-escura !important;
    font-family: $font-titulos-menores;
    font-style: normal;
    font-size: 18px;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
  }

  #linkSugestion,
  #selectCategory,
  #featureLink,
  #featureSummary {
    display: none;
    width: 100%;
  }
}
