#page-sobre {
  // Escrever aqui dentro
  .main-sobre {
    margin-bottom: 255px;
  }
  .texto-div {
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 18px;
  }

  #contexto-sobre:hover .card-header.sobre {
    background-color: $verde;
}

#contexto-sobre:hover {
    border: 2px solid $verde;
}
  
  .card-header.sobre {
    width: 100%;
    color: $branca;
    background-color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 20px;
    border-radius: 0;
  }

  .texto-cards {
    color: $cinza-escura;
    font-family: $font-titulos-menores;
    font-size: 18px;
    line-height: 1.5;
    background-color: $branca-do-fundo;
  }

  #contexto-sobre {
    height: 100%;
    width: 100%;
    color: $cinza-escura;
    border: 2px solid $cinza-escura;
    border-radius: 0px;
  }

  #contexto-sobre::after {
    content: "";
    width: 4px;
    height: 43px;
    background: $branca-do-fundo;
    position: absolute;
    bottom: 0px;
    left: -4px;
  }
}
