#page-pesquisar {
    
    .caixa {
        min-height: 130px;

        &:hover {
            color: $branca;
            background-color: $cinza-escura;
        }

        a {
            width: 100%;
            height: 100%;
            color: $cinza-escura;
            &:hover {
                color: $branca;
                background-color: $cinza-escura;
            }
        }
    }
    
    .caixa-2x {
        height: 270px;
        margin: 5px;

        &:hover {
            color: $branca;
            background-color: $cinza-escura;
        }
    }

    /* CSS personalizado para ajustar o layout das caixas */
    .meia-caixa {
        min-height: 130px; /* Ajuste essa altura conforme necessário */
        margin: 5px;
        &:hover {
            color: $branca;
            background-color: $cinza-escura;
        }
    }
    // Bordas:
    // Ver no arquivo '_Tema-Global.scss'
    // .borda-dir-topo - Borda abertura na direita topo
    // .borda-dir-base - Borda abertura na direita base
    // .borda-esq-topo - Borda abertura na esquerda topo
    // .borda-esq-base - Borda abertura na direita topo

    /* Estilo para a div que envolve Filtro 1/2 e Filtro 2/2 */
    .filtro-container {
        display: flex; /* Use flexbox para alinhar os elementos lado a lado */
        flex-wrap: wrap; /* Permita que os elementos quebrem para a próxima linha se necessário */
        justify-content: space-between; /* Distribua o espaço horizontalmente entre os elementos */
    }

    /* Estilo para os elementos dentro do Filtro 1/2 e Filtro 2/2 */
    .filtro-item {
        min-height: 130px;
        height: 130px;
        min-width: 106px;
        margin: 5px;

        &:hover {
            color: $branca;
            background-color: $cinza-escura;
        }
    }
}