#page-pesquisar,
#resultado #buscar {
    // Escrever aqui dentro
    
    // Linha 1
    // Componente titulo-h1


    
    // Linha 2
    // Estilo padrão do campo de busca
    #campo-busca {
        border: none;
        border-radius: 0; // Borda quadrada
        border-top: 2px solid $cinza-escura;
        border-right:2px solid $cinza-escura;
        border-bottom: 2px solid $cinza-escura;
        position: relative;
        padding: 0 0 0 15px;
        background-color: $branca-do-fundo;
        z-index: auto;
    }

    // Linha aplicada a partir da base e a esquerda do elemento span irmão do input
    // https://hollybourneville.medium.com/creating-border-lines-using-pseudo-elements-in-css-a460396299e8
    // https://dev.to/erhannah/adding-pseudoelements-on-input-elements-5bdk
    .input::after {
        content:'';
        position: absolute;
        background-color: $cinza-escura;
        width: 2px;
        height: 70%;
        bottom: 0;
        left: 0;
    }

    // Estilo quando o campo está em foco (clicado)
    #campo-busca:focus {
        outline: none; // Remova a borda do foco padrão
        box-shadow: none; // Remova a sombra do foco padrão
    }

    /* Estilo do pseudoelemento após o campo em foco */
    #campo-busca:focus + .input::after {
        content: "";
        position: absolute;
        width: 2px; // Espessura da borda
        background-color: $cinza-escura; // Cor da borda
        height: 70%; // Altura da borda (70% da altura do elemento irmão)
        top: 30%; // Posição relativa ao elemento irmão
        left: -1px; // Posição à esquerda do elemento irmão
    }

    #botao-busca {
        border: solid 2px $cinza-escura;
        border-radius: 0;

        &:hover {
            color: $branca;
            background-color: $cinza-escura;

            div {
                background-image: url("../images/lupa-branca.png");
                background-repeat: no-repeat;
                background-position: center;
                text-decoration: none;
            }
        }
    }



    // Linha 3 Idiomas
    .idiomas {
        // Ver arquivos tema-global para bordas
        
        .borda-dir-base:hover {
            color: $branca;
            background-color: $cinza-escura;
        }

        a {
            width: 100%;
            margin: 0 auto;
        }
    }
}




