// Estilos do arquivo search.php
#resultado {
  .idiomas {
    .polylang-buttons {
      .linques {
        text-decoration: none;
        text-align: center;
        color: $cinza-escura;

        &:hover {
          color: $branca;
        }
      }
    }
  }

  article:hover {
    background-color: $cinza-escura;
    color: $branca !important;
  }
  .post-linque {
    text-decoration: none;
    color: $cinza-escura;
    
    h2 {
      font-size: 50px;
    }
  }
  .resultado {
    margin: 0 -2%;
    padding: 2%;
  
    h3 {
      color: $cinza-escura;
      a {
        text-decoration: none;
        color: $cinza-escura;
      }
    }
    
    &:hover {
      background-color: $cinza-escura;
      h3 a,
      p {
        color: $branca;
      }
    }
  
    a {
      text-decoration: none;
    }
  }
  .pagination .page-numbers {
    display: block;
  }
  .page-numbers a {
    float: left;
  }
}