// https://onaircode.com/bootstrap-audio-music-player-examples/
// https://github.com/greghub/green-audio-player
/*
body {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FFAE;
    background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
    background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/
#audio {
    // Imagem da autoria
    img {
        max-width: 165px;
        max-height: 165px;
        margin: 50px;
    }

    svg, img {
        display: block;
    }

    // Parágrafo inicial
    .cita-audio {
        background-color: $cinza-escura;
        color: $branca-do-fundo;
    }

    .audio {
        line-height: 1.5;
    }

    svg path {
        fill: $branca;
    }

    .current-time,
    .total-time {
    color: $branca;
    }

    // Audio player
    .holder {
        display: flex;
        flex-direction: column;
    //    align-items: center;
        max-width: 100%;
    }
    
    .audio.green-audio-player {
        max-width: 100%;
        min-width: 100%;
        height: 56px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 0;
        user-select: none;
        -webkit-user-select: none;
        background-color: $cinza-escura;
        color: $branca;


        .play-pause-btn {
            display: none;
            cursor: pointer;
        }

        .spinner {
            width: 18px;
            height: 18px;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
            background-size: cover;
            background-repeat: no-repeat;
            animation: spin 0.4s linear infinite;
        }

        .slider {
            flex-grow: 1;
            background-color: #D8D8D8;
            cursor: pointer;
            position: relative;

            .progress {
                background-color: $verde;
                border-radius: inherit;
                position: absolute;
                pointer-events: none;
                .pin {
                    height: 16px;
                    width: 16px;
                    border-radius: 8px;
                    background-color: $verde;
                    position: absolute;
                    pointer-events: all;
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
                }
            }
        }

        .controls {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 18px;
            color: rgb(85, 96, 110);
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            margin-left: 24px;
            margin-right: 24px;

            .slider {
                margin-left: 16px;
                margin-right: 16px;
                border-radius: 2px;
                height: 4px;

                .progress {        
                    width: 0;
                    height: 100%;

                    .pin {
                        right: -8px;
                        top: -6px;
                    }
                }
            }

            span {
                cursor: default;
            }
        }

        .volume {
            position: relative;

            .volume-btn {
                cursor: pointer;
                &.open path {
                    fill: $cinza-escura;  // fill: $verde;
                }
            }

            .volume-controls {
                width: 30px;
                height: 135px;
                background-color: rgba(0, 0, 0, 0.62);
                border-radius: 7px;
                position: absolute;
                left: -3px;
                bottom: 52px;
                flex-direction: column;
                align-items: center;
                display: flex;

                &.hidden {
                    display: none;
                }
                .slider {
                    margin-top: 12px;
                    margin-bottom: 12px;
                    width: 6px;
                    border-radius: 3px;

                    .progress {
                        bottom: 0;
                        height: 100%;

                        width: 6px;

                        .pin {
                            left: -5px;
                            top: -8px;
                        }
                    }
                }
            }    
        }
    }

    @keyframes spin {

        from {
            transform: rotateZ(0);
        }

        to {
            transform: rotateZ(1turn);
        }
    }
}

// Medias queries
// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media (max-width: 575px) {
    #audio {

    }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) {
    #audio {
        
    }
}

// -md- Dispositivos médios (tablets, 768px e superior)
@media (min-width: 768px) {
    #audio {
        
    }
}

@media (max-width: 991px) {
    #audio {
        
    }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media (min-width: 992px) {
    #audio {
        
    }
}
// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1200px) {
    #audio {
        
    }
}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media (min-width: 1400px) {
    #audio {
        
    }
}


/* HTML do player de audio
            <!-- Linha 3 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="px-5">
                        <div class="col-md-12 borda-esq-base d-flex align-items-center justify-content-bottom p-0 mb-5">
                            <!-- Linha interna -->
                            <div class="row">

                                <p class="cita-audio col-md-12 align-bottom m-0 p-3">
                                    Um dos motivos pelos quais as redes não davam continuidade a projetos de robótica… era porque não havia verba para renovação de licenças proprietárias…
                                </p>

                                <img class="col-md-2 img-fluid py-3" src="<?php echo get_site_url(); ?>/wp-content/uploads/2023/09/gislaine.jpg" width="400" height="533" alt="Foto de professor Nelson Pretto da UFBA" />
                                
                                <div class="col-md-4 align-self-end py-3">
                                    <p class="d-inline align-text-bottom">
                                        Profa. Gislaine Batista Munhoz
                                        <br><br>
                                        Coordenadora Pedagógica da Rede Municipal de Ensino de São Paulo, Mestre em Educação (FEUSP). Fellow de Aprendizagem Criativa.
                                    </p>
                                </div>

                                <!-- Audio player -->
                                <div class="holder col-md-6 d-flex align-self-end p-0">
                                    <div class="audio green-audio-player">
                                        <!-- Adicione a palavra "Escute" aqui -->
                                        <span class="listen-text text-light me-3">Escute</span>
                                        <div class="loading">
                                            <div class="spinner"></div>
                                        </div>
                                        <div class="play-pause-btn">  
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                                                <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon" id="playPause"/>
                                            </svg>
                                        </div>

                                        <div class="controls">
                                            <span class="current-time">0:00</span>
                                            <div class="slider" data-direction="horizontal">
                                                <div class="progress">
                                                    <div class="pin" id="progress-pin" data-method="rewind"></div>
                                                </div>
                                            </div>
                                            <span class="total-time">0:00</span>
                                        </div>

                                        <div class="volume">
                                            <div class="volume-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                    <path fill="#566574" fill-rule="evenodd" d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z" id="speaker"/>
                                                </svg>
                                            </div>
                                            <div class="volume-controls hidden">
                                                <div class="slider" data-direction="vertical">
                                                    <div class="progress">
                                                        <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <audio crossorigin>
                                            <source src="https://archive.org/download/gislaine-software-livre/gislaine.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                    <!-- Script do audio player acima -->
                                    <script src="<?php echo esc_url(get_template_directory_uri()); ?>/library/js/audio-player.js"></script>
                                </div>
                                <!-- /Fim do audio player -->
                            </div>

                        </div>
                        <!-- /Fim da Linha interna -->
                    </div>
                </div>
            </div>
            <!-- /Fim da Linha 3 -->
*/