// Template de busca full-screen
/* html:
<div class="row">
    <div class="col-12">

        <div class="d-flex justify-content-between mb-4" id="pesquisa-div">
            <input id="lupa" class="card d-flex align-items-center justify-content-center" type="button" />
            <input id="barra-pesquisa" class="card d-flex align-items-center justify-content-center" />
        </div>

    </div>
</div>
*/

// Adicione abaixo o ID separado por virgula da página onde será aplicada busca e utilize o html acima
#page-livre-e-aberto {
    // Div contexto
    #pesquisa-div {
        padding-top: 78px;
        padding-bottom: 48px;
    }

    /* Botão input - Ícone Lupa
    #lupa {
        background: url("../images/lupa.svg") no-repeat center;
        height: 2.8rem;
        width: 9%;
        top: 2px;
    } */
    
    // .borda-esq-topo - (ver tema-global.scss)
    
    // Barra input de busca
    #barra-pesquisa {
        height: 2.8rem;
        width: 97%;
        color: $cinza-escura;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-size: 24px;
        top: 2px;
        margin-left: -3px;
    
        ::before {
            content: "";
            width: 4px;
            height: 2px;
            background: $branca-do-fundo;
            position: absolute;
            bottom: 39px;
            left: -4px;
        }
    }
}
