// Componente Migalhas de Pão
.migalhas {

    nav {
        --bs-breadcrumb-divider: '>';
    }

    a {
        text-decoration: none;
        color: $cinza-escura;

        &:focus {
            font-weight:600 !important;
        }
    }
}


/* HTML
                    <!-- Linha -->
                    <div class="row">
                    
                        <!-- Coluna Migalhas de pão -->
                        <div class="migalhas col-md-12 pb-5">

                            <!-- Migalhas de pão -->
                            <nav aria-label="breadcrumb">
                                <!-- .linque-verde - Cor do hover -->
                                <ol class="linque-verde breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="<?php echo get_site_url(); ?>/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="<?php echo get_site_url(); ?>/sobre">Sobre</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="<?php echo get_site_url(); ?>/livre-eaberto">livre,  grátis ou aberto?</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="<?php echo get_site_url(); ?>/qualidade">Qualidade</a>
                                    </li>
                                </ol>
                            </nav>

                        </div>
                    </div>
                    <!-- /Fim da Linha -->
                    */