// Títulos H1
.titulo-h1 {
    h1 {
        color: $cinza-escura;
        font-family: 'Neris', sans-serif;
        font-style: normal;
        font-size: 60px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: none;
        position: relative;
        display: inline-block;
        line-height: 0.8;

        &::first-letter {
            font-weight: 600;
        }

        &::after {
            content:'';
            position: absolute;
            background-color: $cinza-escura;
            height: 4px;
            bottom: -15px;
            opacity: 1;
            width: 900%;
            left: -900%;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $cinza-escura; 
        }
    }
}
.separador {
    position: relative !important;
}
// FIM Títulos H1 Desktop

// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
// Resolução específica para casos específicos
@media (max-width: 360px) {

}
// -xs- ou none - Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap (mobile first)
@media (max-width: 575px) {

}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 991px) {
  .titulo-h1 {
    h1 {
      color: $cinza-escura;
      font-family: 'Neris', sans-serif;
      font-size: 40px;
    }
  }
}
// FIM Títulos H1 Mobile