.breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
}

.breadcrumbs a,
.breadcrumbs span {
    color: #333;
    text-decoration: none;
}

.breadcrumbs .separator {
    margin: 0 5px;
    color: #999;
}

